<div class="container">
    <div class="card">
        <h2 class="text-center">Compose Email...</h2>
        <form (ngSubmit)="submitEmailForm()">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>FROM</mat-label>
                <input [(ngModel)]="data.from" name="from" id="from" matInput>
            </mat-form-field>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>TO</mat-label>
                <input [(ngModel)]="data.to" name="to" id="to" matInput>
            </mat-form-field>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Subject</mat-label>
                <input [(ngModel)]="data.subject" name="subject" id="subject" matInput>
            </mat-form-field>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Message</mat-label>
                <textarea [(ngModel)]="data.message" name="message" id="message" rows="10" matInput
                    placeholder="type your message..."></textarea>
            </mat-form-field>

            <mat-spinner class="spinner" color="primary" *ngIf="flag"></mat-spinner>
            <div class="text-center">
                <button type="submit" [disabled]="flag" mat-raised-button color="primary">Send Email</button>
                <button type="reset" [disabled]="flag"  mat-raised-button color="accent">Reset</button>
            </div>
        </form>

        <!-- this is use to print data on frontend into runtime -->
        <!-- {{data | json}} -->
    </div>
</div>